<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>First human in outer space</key>
	<dict>
		<key>date</key>
		<date>1961-04-12T05:00:00Z</date>
	</dict>
	<key>First sustained, controlled, powered heavier-than-air manned flight</key>
	<dict>
		<key>date</key>
		<date>1903-12-17T05:00:00Z</date>
	</dict>
	<key>Sound barrier officially broken in aircraft</key>
	<dict>
		<key>date</key>
		<date>1947-10-14T05:00:00Z</date>
	</dict>
	<key>First manned hot air baloon flight</key>
	<dict>
		<key>date</key>
		<date>1783-09-19T05:00:00Z</date>
	</dict>
	<key>First practical helicopter flight</key>
	<dict>
		<key>date</key>
		<date>1939-09-14T05:00:00Z</date>
	</dict>
	<key>The first artificial Earth satellite launched</key>
	<dict>
		<key>date</key>
		<date>1957-10-04T05:00:00Z</date>
	</dict>
	<key>First jet fighter flight</key>
	<dict>
		<key>date</key>
		<date>1942-07-18T05:00:00Z</date>
	</dict>
	<key>First parachute descent from high altitude</key>
	<dict>
		<key>date</key>
		<date>1797-10-22T05:00:00Z</date>
	</dict>
	<key>First U.S. woman to earn a pilot certificate</key>
	<dict>
		<key>date</key>
		<date>1911-08-11T05:00:00Z</date>
	</dict>
	<key>First fine for reckless aerial driving</key>
	<dict>
		<key>date</key>
		<date>1920-04-07T05:00:00Z</date>
	</dict>
	<key>First air navigation beacon</key>
	<dict>
		<key>date</key>
		<date>1926-12-07T05:00:00Z</date>
	</dict>
	<key>First transatlantic non-stop solo flight</key>
	<dict>
		<key>date</key>
		<date>1927-05-20T05:00:00Z</date>
	</dict>
	<key>World famous airship &quot;Graf Zeppelin&quot; first time flew</key>
	<dict>
		<key>date</key>
		<date>1928-09-18T05:00:00Z</date>
	</dict>
	<key>First radio controlled airport tower</key>
	<dict>
		<key>date</key>
		<date>1930-12-31T05:00:00Z</date>
	</dict>
	<key>First solo flight around the world</key>
	<dict>
		<key>date</key>
		<date>1933-07-15T05:00:00Z</date>
	</dict>
	<key>McDonnell Douglas DC-3 - one of the most successful aircrafts in history first flew</key>
	<dict>
		<key>date</key>
		<date>1935-12-17T05:00:00Z</date>
	</dict>
	<key>First flight by a fully pressurized airplane, the Lockheed XC-35</key>
	<dict>
		<key>date</key>
		<date>1937-05-07T05:00:00Z</date>
	</dict>
	<key>New York Municipal Airport opens. &apos;La Guardia&apos; nowdays</key>
	<dict>
		<key>date</key>
		<date>1939-12-02T05:00:00Z</date>
	</dict>
	<key>Battle of Britain - first major military campaign fought entirely by air forces</key>
	<dict>
		<key>date</key>
		<date>1940-07-10T05:00:00Z</date>
	</dict>
	<key>First man-made object to travel into space by crossing the Kármán line</key>
	<dict>
		<key>date</key>
		<date>1944-06-20T05:00:00Z</date>
	</dict>
	<key>World&apos;s first commercial jetliner</key>
	<dict>
		<key>date</key>
		<date>1949-07-27T05:00:00Z</date>
	</dict>
	<key>First intercontinental ballistic missile (ICBM)</key>
	<dict>
		<key>date</key>
		<date>1957-08-21T05:00:00Z</date>
	</dict>
	<key>First animal in orbit, the dog Laika</key>
	<dict>
		<key>date</key>
		<date>1957-11-03T05:00:00Z</date>
	</dict>
	<key>World&apos;s first long-distance commercial jetliner</key>
	<dict>
		<key>date</key>
		<date>1957-12-20T05:00:00Z</date>
	</dict>
	<key>First reaching Earth escape velocity or Trans Lunar Injection</key>
	<dict>
		<key>date</key>
		<date>1959-01-02T05:00:00Z</date>
	</dict>
	<key>First artificial satellite to reach the Moon vicinity</key>
	<dict>
		<key>date</key>
		<date>1959-01-04T05:00:00Z</date>
	</dict>
	<key>First photograph of the Earth from orbit</key>
	<dict>
		<key>date</key>
		<date>1959-08-07T05:00:00Z</date>
	</dict>
	<key>First impact into another world (the Moon)</key>
	<dict>
		<key>date</key>
		<date>1959-09-13T05:00:00Z</date>
	</dict>
	<key>First photos of another world from space: The far side of the Moon</key>
	<dict>
		<key>date</key>
		<date>1959-10-04T05:00:00Z</date>
	</dict>
	<key>First solar probe</key>
	<dict>
		<key>date</key>
		<date>1960-03-01T05:00:00Z</date>
	</dict>
	<key>First plants and animals to return alive from Earth orbit</key>
	<dict>
		<key>date</key>
		<date>1960-08-19T05:00:00Z</date>
	</dict>
	<key>First orbital solar observatory</key>
	<dict>
		<key>date</key>
		<date>1962-03-07T05:00:00Z</date>
	</dict>
	<key>First spacecraft to impact the far side of the Moon</key>
	<dict>
		<key>date</key>
		<date>1962-04-26T05:00:00Z</date>
	</dict>
	<key>First woman in space</key>
	<dict>
		<key>date</key>
		<date>1963-07-16T05:00:00Z</date>
	</dict>
	<key>First extra-vehicular activity</key>
	<dict>
		<key>date</key>
		<date>1965-03-18T05:00:00Z</date>
	</dict>
	<key>First close-up photographs of another planet: Mars</key>
	<dict>
		<key>date</key>
		<date>1965-07-14T05:00:00Z</date>
	</dict>
	<key>First soft landing on another world (the Moon)</key>
	<dict>
		<key>date</key>
		<date>1966-02-03T05:00:00Z</date>
	</dict>
	<key>First impact into another planet (Venus)</key>
	<dict>
		<key>date</key>
		<date>1966-03-01T05:00:00Z</date>
	</dict>
	<key>First piloted orbital mission of another celestial body (Moon)</key>
	<dict>
		<key>date</key>
		<date>1968-12-21T05:00:00Z</date>
	</dict>
	<key>First human on the Moon, and first space launch from a celestial body other than the Earth</key>
	<dict>
		<key>date</key>
		<date>1969-07-20T05:00:00Z</date>
	</dict>
</dict>
</plist>
